third_party/
win_pack/
build/
cache/
tools/thatsky/node_modules/
__pycache__/
*.pyc
README.engine.old.md
*.png
*.ppm
*.obj
*.bin
*.zip
*.txt
assets_new_demo/
assets_real/
assets_render.png
diag_*.png
lightmap.png
bst_*.png
lod0_*.png
lod0_*.ppm
lod0_*.obj
bake.bin
